*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bgcolor :rgb(66, 66, 66);
    --primary_color : rgb(181, 123, 15);
    --light_color: rgb(255,255,255);
    --dark_color: rgb(0,0,0);
}

h1, h2 {
    color: var(--primary_color);
    text-transform: capitalize;
}
i {
    padding: 4px;
    font-size: 30px;
    color: var(--primary_color);
    &.fa-thumbs-up {
        color: #0099ff;
    }
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.btn-primary {
    border-color: var( --primary_color);
    padding: 10px;
    color: var( --primary_color);
    background-color: var(--light_color);

    &:hover {
        border-color: var( --primary_color);
        background-color: var(--primary_color);
    }
}

footer{
    background-color: var(--primary_color);
    color: var(--light_color);
    > div > a:hover {
        color: var(--dark_color) !important;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #606060;
    .logo {
        max-width: 130px;
        height: auto;
        transition: all .5s linear;
        &:hover {
            transform: scale(.8);
            
        }
    }
    .img { 
        display: block;
        overflow: hidden;
        border-radius: 100%;
        border: 1px solid var( --primary_color);
        width: 80px;
        height:80px;
        margin: 5px 10px;
        
    }
    .username {
        color: var(--primary_color);
        text-decoration: none;
        margin-top: 5px;
        text-transform: capitalize;
        &:hover {
            text-decoration: underline;
        }
    }
    .fas{
        &:hover {
            color: var(--dark_color);
        }
    }
    .dropdown-nav{
        position: relative;
        > .dropdown-list {
            display: none;
            position: absolute;
            top: 85px;
            right: 10px;
            width: 200px;
            background-color: var(--light_color);
            border-radius: 5px;
            border: 1px 1px 1px 1px solid var(--primary_color);
            box-shadow: 1px 1px 1px 1px var(--primary_color);

            > a {
            display: block;
            text-decoration: none;
            padding: 4px 0;
            color: var(--primary_color);
                &:hover {
                    color: var(--dark_color);
                }
            }
        }
       &:hover > .dropdown-list{
        display: block;
       }
    }
}

.form_publish  {
    border-radius: 10px;
    text-align: center;
    > .form-group > label {
        font-size: 18px;
        padding-bottom: 5px;
        color: var(--primary_color);
    }
}

.bg-color {
    background-color: #efefef;
}

textarea {
    width: 100%;
    text-align: center;
    padding: 5px;
    background-color: #e2e2e2;
    border-radius: 5px;
}

#page_accueil > div {
    max-width: 700px;
    margin: auto;

    .comments-part {
        border-bottom: 1px solid var(--bgcolor);
        margin-bottom: 15px;
        > p {
            margin-bottom: 5px;
        }
        > span{
            text-transform: capitalize;
            color: var(--primary_color);
        } 
    }
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.posts {
    .card-top {
        text-transform: capitalize;
        display: flex;
        align-items: center;
        .img {
            overflow: hidden;
            background-color: #fff;
            border-radius: 100%;
            border: 1px solid var( --primary_color);
            width: 70px;
            height:70px;
            margin: 5px 10px;            
        }
    }

    .img_post {
        box-shadow: 1px 1px 10px rgba(0,0,0,.2);
        border-radius: 10px;
        overflow: hidden;
        height: 300px;
    }
    
}

#page_profil .container {
    display: flex;
    height: calc(100vh - 167px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    > .card {
        width: 100%;
        max-width: 600px;

        .profile  .img-profile {
            overflow: hidden;
            border-radius: 100%;
            border: 1px solid var( --primary_color);
            width: 200px;
            height:200px;
            margin: 5px 10px; 
           
        }
    }
}

#page_connexion .container, #page_inscription .container{
    max-width: 760px;
}

#page_amis .container .row {
    align-items: center;
    justify-content: space-evenly;
    display: flex;

    .img {
        width: 100%;
        height: 250px;
        overflow: hidden;
        margin-bottom: 15px;
    }
}



